# Universal Worker Service (UWS) API Pattern
# OpenAPI 3.0.2
# Example of a UWS API pattern based on the IVOA UWS 1.1 specification, using OpenAPI schema models.
# Not guaranteed to be complete or correct.
openapi: '3.0.2'
info:
  title: Universal Worker Service (UWS)
  version: '1.1'
servers:
  - url: https://mast.stsci.edu/vo-tap/api/v0.1/hsc/async
paths:
  /jobs:
    get:
      description: 'Returns the job list'
      parameters:
        - name: PHASE
          in: query
          description: 'Execution phase of the job to filter for'
          schema:
            $ref: 'components.yml#/components/schemas/ExecutionPhase'
        - name: AFTER
          in: query
          description: 'Return jobs submitted after this date'
          schema:
            type: string
            format: date-time
        - name: LAST
          in: query
          description: 'Return only the last N jobs'
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/xml:
              schema:
                $ref: 'components.yml#/components/schemas/Jobs'
    post:
      description: 'Submits a job'
      parameters:
        - name: PHASE
          in: query
          description: 'Autorun the job if possible'
          required: false
          schema:
            type: string
            enum:
              - RUN
      requestBody:
        description: 'Job parameters'
        content:
          application/xml:
            schema:
              $ref: 'components.yml#/components/schemas/Parameters'
      responses:
        '303':
          description: Success
          content:
            application/xml:
              schema:
                $ref: 'components.yml#/components/schemas/JobSummary'
  /jobs/{job-id}:
    get:
      description: 'Returns the job description'
      parameters:
        - $ref: '#/components/parameters/job-id'
        - name: PHASE
          in: query
          description: 'Phase of the job to poll for'
          schema:
            type: string
            enum:
              - PENDING
              - QUEUED
              - EXECUTING
        - name: WAIT
          in: query
          description: 'Maximum time to wait for the job to change phases.'
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/xml:
              schema:
                $ref: 'components.yml#/components/schemas/Job'
    post:
      description: Update job parameters
      parameters:
        - $ref: '#/components/parameters/job-id'
      requestBody:
        description: 'Parameters to update'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                PHASE:
                  type: string
                  enum:
                    - RUN
                    - ABORT
                    - SUSPEND
                    - ARCHIVE
                DESTRUCTION:
                  type: string
                  format: date-time
                ACTION:
                  type: string
                  enum:
                    - DELETE
      responses:
        '303':
          description: Success
          content:
            text/plain:
              schema:
                type: string
                format: date-time
            application/xml:
              schema:
                oneOf:
                  - $ref: 'components.yml#/components/schemas/JobSummary'
                  - $ref: 'components.yml#/components/schemas/Jobs'
    delete:
      description: 'Deletes the job'
      parameters:
        - $ref: '#/components/parameters/job-id'
      responses:
        '303':
          description: Success
          content:
            application/xml:
              schema:
                $ref: 'components.yml#/components/schemas/Jobs'
  /jobs/{job-id}/phase:
    get:
      description: 'Returns the job phase'
      parameters:
        - $ref: '#/components/parameters/job-id'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: 'components.yml#/components/schemas/ExecutionPhase'
    post:
      description: 'Updates the job phase'
      parameters:
        - $ref: '#/components/parameters/job-id'
      requestBody:
        description: 'Phase to update'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                PHASE:
                  type: string
                  enum:
                    - RUN
                    - ABORT
                    - SUSPEND
                    - ARCHIVE
      responses:
        '303':
          description: Success
          content:
            text/plain:
              schema:
                type: string
                format: date-time
            application/xml:
              schema:
                $ref: 'components.yml#/components/schemas/JobSummary'
  /jobs/{job-id}/executionduration:
    get:
      description: 'Returns the job execution duration'
      parameters:
        - $ref: '#/components/parameters/job-id'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: integer
    post:
      description: 'Updates the job execution duration'
      parameters:
        - $ref: '#/components/parameters/job-id'
      requestBody:
        description: 'Execution duration to update'
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                EXECUTIONDURATION:
                  type: integer
      responses:
        '303':
          description: Success
          content:
            text/plain:
              schema:
                type: string
                format: date-time
            application/xml:
              schema:
                $ref: 'components.yml#/components/schemas/JobSummary'
  /jobs/{job-id}/destruction:
    get:
      description: 'Returns the job destruction time'
      parameters:
        - $ref: '#/components/parameters/job-id'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
                format: date-time
  /jobs/{job-id}/error:
    get:
      description: 'Returns the job error summary'
      parameters:
        - $ref: '#/components/parameters/job-id'
      responses:
        '200':
          description: Success
          content:
            application/xml:
              schema:
                $ref: 'components.yml#/components/schemas/ErrorSummary'
  /jobs/{job-id}/quote:
    get:
      description: 'Returns the job quote'
      parameters:
        - $ref: '#/components/parameters/job-id'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
                format: date-time
  /jobs/{job-id}/parameters:
    get:
      description: 'Returns the job parameters'
      parameters:
        - $ref: '#/components/parameters/job-id'
      responses:
        '200':
          description: Success
          content:
            application/xml:
              schema:
                $ref: 'components.yml#/components/schemas/Parameters'
  /jobs/{job-id}/results:
    get:
      description: 'Returns the job results'
      parameters:
        - $ref: '#/components/parameters/job-id'
      responses:
        '200':
          description: Success
          content:
            application/xml:
              schema:
                $ref: 'components.yml#/components/schemas/Results'
  /jobs/{job-id}/owner:
    get:
      description: 'Returns the job owner'
      parameters:
        - $ref: '#/components/parameters/job-id'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
components:
  parameters:
    job-id:
      name: job-id
      in: path
      description: 'Job ID'
      required: true
      schema:
        type: string